.box{
	padding: 20px;
	margin: 15px; 
	float: left;
	width: 30%;
	border: 1px solid red;
	border-top-width: 5px
}
.giay1{
	color: red;
	border-color: red;
}
.giay2{
	border-color: blue;
}
.giay3{
	border-color: grey;
}
.giay4{
	border-color: tan;
}
.giay5{
	border-color: brown;
}
.giay6{
	border-color: gold;
}
.giay7{
	border-color: purple;
}
.giay8{
	border-color: cyan;
}
.giay9{
	border-color: green;
}
.giay10{
	border-color: pink;
}
.wrap{
	color: red;
	max-width: 1000px;
	margin: auto;
}
