*{
	box-sizing: border-box;
}
body{
	background-color: #E5E5E5;
	margin:0;
	padding: 0;
}
h1{
	margin:50px 0 10px 0;
	color: red;
	font-size: 50px;
}
img{
	max-width: 100%;
}
#main-menu > a:first-child{
	position: absolute;
	padding: 4px;
	background-color: #FFFFFF;
	border-radius: 50%;
	top: -85px;
	left: 100px;
}
#main-menu > a:first-child > img{
	max-width: 160px;
	border-radius: 50%;
}
#main-menu {
	border-radius: 50%;
	position: relative;
	height: 100px;
}
#main-menu a{
	background-color: #FFFFFF;
	display: block;
	font-size: 20px;
	color: red;
}
#main-menu a:hover{
	color: black;
}
#main-menu a.active{
	color: blue;
	font-weight: bold;
}
.wrap{
	max-width: 1000px;
	margin: auto;
}
#ICON{
	max-height:50px;
	max-width: 300px;
	position: fixed;
	right:50px;
	bottom:60px;
}